body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding-left: 120px;
    padding-right: 120px;
    flex: 1;
}    

.header-left {
    font-weight: bolder;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex: 1;
}

.header-right {
    font-size: 18px;
    list-style-type: none;
    display: flex;
}

.header-right li {
    padding-left: 14px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.block1 {
    background-color: #1f2937;
    display: flex;
    padding: 120px;
    margin: 0px;
    border: 0px;
    align-items: center;
}

.block1 > * {
    flex: 1;
}

.block1-left {
    display: flex;
    flex-direction: column;
    height: 308px;
    justify-content: space-between;
    flex:1;
}

.block1-left .main {
   font-size: 48px;
   font-weight: bolder;
   color: #f9faf8;
   margin: 0px;
}

.block1-left .secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin:0px;
}

button {
   background-color: #3882f6;
   color: #f9faf8; 
   font-weight: 700;
   border: none;
   border-radius: 8%;
   max-width: 90px;
   height: 32px;
   padding: 8px 16px;
}

.block1-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: #f9faf8;
    height: 308px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}

.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
    flex-wrap: wrap;
}

.block2-sub div {
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    color: rebeccapurple;
    background-color: black;
}

.block2-sub p {
    max-width: 140px;
}

.block3 {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    padding: 120px;
}

ul {
    list-style-type: none;
}

li.author {
    display:flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bolder;
    padding-top: 2px;
}